<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <section0>
      {% if user.is_superuser %}
      {% if jobtitle %}
      <ul>
         {% for document in jobtitle %}
         <li><a>{{ document.academic_year }}</a></li>
         {% endfor %}
      </ul>
      {% else %}
      <p>No Academic Year entries.</p>
      {% endif %}
      <!-- Upload form. Note enctype attribute! -->
      <form action="{% url 'addacademicyear' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <p>
            {{ form.academic_year }}
         </p>
         <p><input type="submit" value="Save" /></p>
      </form>
      {% endif %}
   </section0>
   <section1>
      {% if user.is_superuser %}
      <!-- Upload form. Note enctype attribute! -->
      <form action="{% url 'addacademicyear' %}" method="post" enctype="multipart/form-data">
         <div class="row">
            <label for="name" class="col-sm-4">Current Academic Year</label>
            <select name="current" for="name" class="col-sm-4">
               {% for document in jobtitle %}  
               {% if document.current %}
               <option value="{{document.id}}" selected="selected">{{ document.academic_year }}</option>
               {% else %}
               <option value="{{document.id}}">{{ document.academic_year }}</option>
               {% endif %}                     
               {% endfor %}
            </select>
         </div>
         {% csrf_token %}
         <p><input type="submit" value="Save" /></p>
      </form>
      {% endif %}
   </section1>
</section>
{% include 'footer.html' %}