<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <!--<div class="row">
      <div class="col-sm-10" style="background-color:lavenderblush;">-->
   <p>Employees found in search.</p>
   <!--<div class="container" style="width=40%"> -->
   <div class="table-responsive">
      <form action="{% url 'addholidayform' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}      
         <!--<table border = 1 width= "200" height='10' >-->
         <table class="table table-striped table-bordered" style="width=100%">
            <thead>
               <tr>
                  <th style="width=25%">Date</th>
                  <th style="width=75%">Holiday</th>
               </tr>
            </thead>
            <tbody>
               <tr BGCOLOR='E2E0E0'>
                  <td><input type="text" name="datevalue" id="datepicker" /></td>
                  <td><!--<input name="h_name" type="text">--><textarea class="form-control row-fluid" rows="1" name ="h_name" required></textarea></td>
               </tr>
            </tbody>
         </table>
         <input type=submit value = "Save">
      </form>
      <table class="table table-striped table-bordered" style="width=100%">
         <thead>
            <tr>
               <th>Date</th>
               <th>Holiday</th>
            </tr>
         </thead>
         <tbody>
            {% if holidays %}
            <ul>
               {% for document in holidays %}
               <tr>
                  <td>{{document.h_date}}</td>
                  <td>{{document.holiday_name}}</td>
               </tr>
               {% endfor %}
            </ul>
            {% else %}
            <p>No search results found with the key.</p>
            {% endif %}
         </tbody>
      </table>
      <!--</div>-->
   </div>
   <!-- Upload form. Note enctype attribute! -->
   <!--        <form action="{% url 'esearchform' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>
          {{ form.search_key }}
      </p>
      <p><input type="submit" value="Search" /></p>
      </form> -->
   <!--<section1>
      </section> -->
   <!--</div>
      </div>-->
</section>
{% include 'footer.html' %}
