<!DOCTYPE html>
{% include 'header.html' %}
<!--<section>-->
   <!--<div class="row">
      <div class="col-sm-12" style="background-color:lavenderblush;">
      
         <div class="table-responsive">  -->
   <section2>
      <h4>Leave Status</h4>
      {% if msg %}
      <h4>
      {{msg}}
      <h4>
      {% endif %}
      <table class="table table-striped table-bordered" style="margin-bottom: 0px;margin-bottom: 0px; margin-bottom: 0px">
         <thead>
            <tr>
               <th>Surname</th>
               <th>First Name</th>
               <th>Sick leave balance</th>
               <th>Earned leave balance</th>
            <tr>
         </thead>
         <tbody>
            {% for le_bal in leave_bal_list %}
            <tr>
               <td>{{le_bal.contact.sur_name}}</td>
               <td>{{le_bal.contact.first_name}}</td>
               <td>{{le_bal.sick_leave_balance}}</td>
               <td>{{le_bal.earned_leave_balance}}</td>
            <tr>
               {% endfor %}
         </tbody>
      </table>
   </section2>
   <section2>
   <h4>Leave Apply Form</h4>
   <form action="{% url 'applyleaveform' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %} 
      <table class="table table-striped table-bordered" style=" margin-bottom: 0px;margin-bottom: 0px; margin-bottom: 0px">
         <thead>
            <tr>
               <th style="width:25%">Contact</th>
               <th style="width:25%">Leave Type</th>
               <th style="width:25%">From date</th>
               <th style="width:25%">To date</th>
            </tr>
         </thead>
         <tbody>
            <td>
               <select name="contact_id">
                  {% for con in contacts_list %}
                  <option value="{{con.id}}">{{con.sur_name}}, {{con.first_name}}</option>
                  {% endfor %}
               </select>
            </td>
            <td>
               <select name="type">
                  <option value="0">Sick Leave</option>
                  <option value="1">Earned Leave</option>
               </select>
            </td>
            <td><input type="text" name="datevalue" id="datepicker" /></td>
            <td><input type="text" name="datevalue1" id="datepicker1" /></td>
         </tbody>
      </table>
      <!--<div class="col-md-6">-->
         Comments:
         <textarea class="form-control row-fluid" rows="2" name ="comment" placeholder="Please Approve" required></textarea>
         <input type=submit value = "Save">
      <!--</div>-->
   </form>
   <section2>
<!--</section>-->

{% include 'footer.html' %}
</html>
