<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <!--<div class="row">
      <div class="col-sm-10" >-->
   <div class="table-responsive">
      <table class="table table-striped table-bordered" style="width=600">
         <thead>
            <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Surname</th>
               <th>From Date</th>
               <th>To Date</th>
               <th>Requested Date</th>
               <th>Days</th>
               <th>Type</th>
               <th>Req Comment</th>
               <th>State</th>
            </tr>
         </thead>
         <tbody>
            {% if leave %}
            <form action="{% url 'approveleave_form' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <input type="hidden" name="leave_id" value="{{leave.id}}">
               <ul>
               <tr>
                  <td>{{leave.requester.first_name}}</td>
                  <td>{{leave.requester.last_name}}</td>
                  <td>{{leave.requester.sur_name}}</td>
                  <td>{{leave.from_date.year}}/{{leave.from_date.month}}/{{leave.from_date.day}}</td>
                  <td>{{leave.to_date.year}}/{{leave.to_date.month}}/{{leave.to_date.day}}</td>
                  <td>{{leave.req_date.year}}/{{leave.req_date.month}}/{{leave.req_date.day}}</td>
                  <td>{{leave.count}}</td>
                  {% if leave.type == 0 %} 
                      <td>Sick</td> 
                  {% elif leave.type == 1 %} 
                      <td>Earned</td> 
                  {% endif %}
                  <td>{{leave.req_comment}}</td>
                  <td>{{leave.state}}</td>
               </tr>
         </tbody>
      </table>
      <div class="col-md-12">
      Approval Comments:
      <textarea class="form-control" name ="comment" placeholder="Approved" required></textarea>
      <input type=submit value = "Approve">
      </div>
      </form>
      {% endif %}
   </div>
   <!--</div>
      </div>-->
</section>
{% include 'footer.html' %}
