<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <h4> Approve leave Items</h4>
   <div class="row">
      <div class="table-responsive">
         <table class="table table-striped table-bordered" style="width=600">
            <thead>
               <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Surname</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Requested Date</th>
                  <th>Days</th>
                  <th>Type</th>
                  <th>Req Comment</th>
                  <th>State</th>
                  <th>App Comment</th>
               </tr>
            </thead>
            <tbody>
               {% if leave_list %}       
               {% for document in leave_list %}
               <tr>
                  <td><a href="/Contacts/admin/approveleaveform/{{document.id}}">{{ document.id }}</a></td>
                  <td>{{document.requester.first_name}}</td>
                  <td>{{document.requester.last_name}}</td>
                  <td>{{document.requester.sur_name}}</td>
                  <td>{{document.from_date.year}}/{{document.from_date.month}}/{{document.from_date.day}}</td>
                  <td>{{document.to_date.year}}/{{document.to_date.month}}/{{document.to_date.day}}</td>
                  <td>{{document.req_date.year}}/{{document.req_date.month}}/{{document.req_date.day}}</td>
                  <td>{{document.count}}</td>
                  <td>{{document.type}}</td>
                  <td>{{document.req_comment}}</td>
                  <td>{{document.state}}</td>
                  <td>{{document.app_comment}}</td>
               </tr>
               {% endfor %}        
               {% endif %}
            </tbody>
         </table>
      </div>
   </div>
</section>
{% include 'footer.html' %}