<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <div class="row">
      <div class="col-sm-10" >
         <p>Employees edit search found in search.</p>
         {% if supcontacts %}
         <ul>
            {% for document in supcontacts %}
            <li> <a href="/Contacts/editcontact/{{document.id}}">{{ document.id }}</a> <a>{{ document.first_name }}</a> <a>{{ document.last_name }}</a> <a>{{ document.sur_name }}</a> <a>{{document.email}}</a> <a>{{document.job_title.title}}</a><a href="/media/{{document.picture}}">   {{document.picture}}</a>
               <a> supervisor : {{document.supervisor.sup_id}}</a>
            </li>
            {% endfor %}
         </ul>
         {% else %}
         <p>No search results found with the key.</p>
         {% endif %}
         <!-- Upload form. Note enctype attribute! -->
         <form action="{% url 'deletesearchform' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
               {{ form.search_key }}
            </p>
            <p><input type="submit" value="Upload" /></p>
         </form>
      </div>
   </div>
</section>
{% include 'header.html' %}