<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <div class="row">
      <div class="col-sm-10" >
         {% if user.is_superuser %}
         {% if jobtitle %}
         <ul>
            {% for document in jobtitle %}
            <li><a>{{ document.title }}</a></li>
            {% endfor %}
         </ul>
         {% else %}
         <p>No title.</p>
         {% endif %}
         <!-- Upload form. Note enctype attribute! -->
         <form action="{% url 'jobtitleform' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
               {{ form.title }}
            </p>
            <p><input type="submit" value="Save" /></p>
         </form>
         {% endif %}
      </div>
   </div>
</section>
{% include 'footer.html' %}