<!DOCTYPE html>
{% include 'header.html' %}
<section>
<div class="row">
   <div class="col-sm-10" >
      <a>Search Contact</a>
      <p>
         <a> To Search Contact in the web contacts
         <a>
      </p>
      {% if user.is_superuser %}
      <div class="table-responsive">          
      <table class="table table-striped table-bordered" style="width=600">
      <thead>
      <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Surname</th>
      <th>Sick Leave Balance</th>
      <th>Earned Leave Balance</th>
      </tr>
      </thead>
      <tbody> 
      {% if leave_balance_list %}
      <ul>
      {% for document in leave_balance_list %}
      <tr>
      <td><a href="/Contacts/viewcontact/{{document.contact.id}}">{{ document.id }}</a></td>
      <td>{{document.contact.first_name}}</td>
      <td>{{document.contact.last_name}}</td>
      <td>{{document.contact.sur_name}}</td>
      <td>{{document.sick_leave_balance}}</td>
      <td>{{document.earned_leave_balance}}</td>
      </tr>
      {% endfor %}
      </ul>
      {% else %}
      <p>No search results found with the key.</p>
      {% endif %}
      </tbody> 
      </table>
      </div>
      {% endif %}
   </div>
</div>
<section>
{% include 'footer.html' %}
