<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <div class="row">
      <div class="col-sm-10" >
         {% if user.is_superuser %}
         {% if skilltitle %}
         <h4>
         Available Skills in the WebHR 
         <h4>
         <ul>
            {% for document in skilltitle %}
            <li><a>{{ document.skill_title }}</a></li>
            {% endfor %}
         </ul>
         {% else %}
         <p>No title.</p>
         {% endif %}
         <!-- Upload form. Note enctype attribute! -->
         <h4>
         Add Skills to the WebHR 
         <h4>
         <form action="{% url 'skilltitleaddform' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
               {{ form.skill_title }}
            </p>
            <p><input type="submit" value="Save" /></p>
         </form>
         {% endif %}
      </div>
   </div>
</section>
{% include 'footer.html' %}