<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <div class="row">
      <div class="col-sm-10" >
         {% if user.is_superuser %}
         {% if supervisor %}
         <ul>
            {% for document in supervisor %}
            <li><a>{{ document.sup_id }}</a></li>
            {% endfor %}
         </ul>
         {% else %}
         <p>No title.</p>
         {% endif %}
         <p>All Employees.</p>
         {% if contacts %}
         <ul>
            {% for document in contacts %}
            <li> <a>{{ document.id }}</a> <a>{{ document.first_name }}</a> <a>{{ document.last_name }}</a> <a>{{ document.sur_name }}</a> </li>
            {% endfor %}
         </ul>
         {% else %}
         <p>No title.</p>
         {% endif %}
         <!-- Upload form. Note enctype attribute! -->
         <form action="{% url 'supervisorform' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
               {{ form.sup_id }}
            </p>
            <p><input type="submit" value="Upload" /></p>
         </form>
         {% endif %}
      </div>
   </div>
</section>
{% include 'footer.html' %}