<!DOCTYPE html>
{% include 'header.html' %}
<section>
   <div class="row">
      <div class="col-sm-12" >
         {% if user.is_superuser %}
         {% if supervisor %}
         <ul>
            {% for document in supervisor %}
            <li><a>{{ document.sup_id }}</a></li>
            {% endfor %}
         </ul>
         {% else %}
         <p>No title.</p>
         {% endif %}
         <p>All Employees.</p>
         {% if contacts %}
         <!--<ul>-->
            <table class="table table-striped table-bordered" style="width=100%">
            <thead>
            <tr><th> Contact Id </th><th> First Name </th><th> Last Name </th><th> Surname </th></tr>
            </thead>
            <tbody>
            {% for document in contacts %}
            <tr> <td><a href="/Contacts/viewcontact/{{document.id}}">{{ document.id }}</a></td> <td>{{ document.first_name }}</td> <td>{{ document.last_name }}</td> <td>{{ document.sur_name }}</td> </tr>
            {% endfor %}
            </tbody>
            </table>
         <!--</ul>-->
         {% else %}
         <p>No title.</p>
         {% endif %}
         <!-- Upload form. Note enctype attribute! -->
         <form action="{% url 'supervisorform' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
               {{ form.sup_id }}
            </p>
            <p><input type="submit" value="Upload" /></p>
         </form>
         {% endif %}
      </div>
   </div>
</section>
{% include 'footer.html' %}
