<!DOCTYPE html>
<!--<html>
-->
{% include 'header.html' %}
<section>
<div class="row">
<div class="col-sm-10" >
<section0>
{% if document.picture %}
<img src="/media/{{document.picture}}" alt="Smiley face" width="250" height="300" style="vertical-align:bottom">
{% endif %}
</section0>
<section1>
{% if document %}
        <ul>
        <table>
        <tr><td>First Name </td><td>{{document.first_name}}<td></tr>
        <tr><td>Last Name </td><td>{{document.last_name}}<td></tr>
        <tr><td>SurName </td><td>{{document.sur_name}}<td></tr>
        <tr><td>Login Name </td><td>{{document.login_name}}<td></tr>
        <tr><td>Email </td><td>{{document.email}}<td></tr>
        <tr><td>Employee ID </td><td>{{document.emp_id}}<td></tr>
        <tr><td>Supervisor ID </td><td> <a href="/Contacts/viewcontact/{{document.supervisor.sup_id}}">{{document.supervisor.sup_id}}</a><td></tr>
        <tr><td>Department </td><td> {{department_name}} <td></tr>
        <tr><td>Job Title </td><td>{{document.job_title.title}}<td></tr>
        <tr><td>Phone </td><td>{{document.phone}}<td></tr>
        <tr><td>Address </td><td><td></tr>
        <tr><td>House No </td><td>{{document.address.H_No}}<td></tr>
        <tr><td>Lane </td><td>{{document.address.Line1}}<td></tr>
        <tr><td>Street </td><td>{{document.address.street}}<td></tr>
        <tr><td>Colony </td><td>{{document.address.colony}}<td></tr>
        <tr><td>City </td><td>{{document.address.city}}<td></tr>
        <tr><td>Pin </td><td>{{document.address.pin}}<td></tr>
        </table>
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}
</section1>

</div>
</div>
</section>
{% include 'footer.html' %}
<!--
<footer>
Copyright © webcontacts
</footer>

</body>
</html>-->
